* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
}

.list-home {
  width: 100vw;
  height: 100vh;
  padding: 3rem;
  overflow-y: auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.list-home li {
  list-style: none;
}
