* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
}

.list-home {
  width: 100%;
  height: 100vh;
  padding: 3rem 1rem;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 10rem;
  place-content: center;
  gap: 1rem;
}

.list-home li {
  width: 100%;
  height: 100%;
  list-style: none;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid #00000020;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 20px;
  font-weight: bold;
}

.list-home li img {
  width: 5rem;
}

.tab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.tab button {
  border-radius: 0;
}